[submodule "third_party/Random123"]
	path = third_party/Random123
	url = https://github.com/DEShawResearch/Random123-Boost
[submodule "third_party/csv-parser"]
	path = third_party/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser
[submodule "third_party/progressbar"]
	path = third_party/progressbar
	url = https://github.com/gipert/progressbar
[submodule "third_party/LBFGSpp"]
	path = third_party/LBFGSpp
	url = https://github.com/yixuan/LBFGSpp
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/portable-file-dialogs"]
	path = third_party/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs
